.welcomepicture {
    /* サイズ */
    width: 100vw;
    height: auto;
    /* カラー */
    background-color: red;
    /* 画像サイズ */
    object-fit: cover;
}
.circle_icon {
    background-color: blue;
}
.M {
    background-color: yellow;
}