body {
    /* 余白潰し */
    margin-top: 0px;
    margin-left: 0px;
}
.welcome_tops {
    /* 位置 */
    position: relative;
}
.welcome_tops .welcomepicture {
    /* サイズ */
    width: 99vw;
    height: 100%;
    /* 画像サイズ */
    object-fit: cover;
}
.welcome_tops p {
    /* 位置 */
    position: fixed;
    top: 50%;
    left: 50%;
    /* カラー */
    color: #eee;
    text-shadow: 0 0 15px #000;

}
.welcome_tops .circle_icon {
    background-color: blue;
}