.welcome_MikuTecs .circle_icon {
    width: 100vw;
    height: auto;
    background-color: blue;
    object-fit: cover;
}
.sample_00 {
    width: 100vw;
    height: auto;
    background-color: red;
}
.M {
    background-color: yellow;
}